---
import '../styles/global.css';
import { Image } from 'astro:assets';
import pfpImage from '../assets/dev_pfp.png';
import youtubeImage from '../assets/youtube.png';
const repoLink = "https://github.com/softmaximalist/PostureCorrector";
const githubLink = "https://github.com/softmaximalist";
const youtubeLink = "https://www.youtube.com/@softmaximalist";
---

<div id="about" class="mx-80 mb-40 text-gray-800 scroll-mt-25">
    <span class="text-5xl font-bold flex flex-col items-center">Who is the developer?</span>
    <div class="mt-15 flex items-center gap-15">
        <div class="w-1/5">
            <Image src={pfpImage} alt="Profile of the developer" class="rounded-full border-4 border-red-400 size-40">
        </div>
        <div class="w-4/5 text-xl">
            I am a programmer and a professional sloucher with 20+ years of experience in 
            slouching. If you liked PostureCorrector, please consider leaving a review on the 
            <a href={repoLink} target="_blank" class="text-red-500 font-semibold">Chrome Web Store</a>
            and/or giving a star to the
            <a href={repoLink} target="_blank" class="text-red-500 font-semibold">GitHub repository</a>.
            <div class="flex ml-15 mt-5 space-x-5">
                <a href={githubLink} target="_blank">
                    <img src="/github-mark.svg" alt="Github Logo" loading="lazy" class="size-7">
                </a>
                <a href={youtubeLink} target="_blank">
                    <Image src={youtubeImage} alt="YouTube Logo" loading="lazy" class="size-8">
                </a>
            </div>
        </div>
    </div>
</div>